  h1 {
    text-align: center;
    font-family: 'Sanchez', serif;
  }

  p {
    font-family: 'Sanchez', serif;
  }

  li {
    font-family: 'Sanchez', serif;
  }

  .my_footer{
    text-align: center;
  }

  .left_pic{
    margin-left: 70px;
  }

  .my_header{
    margin-bottom: 20px;
  }