body {
  padding-top: 0px; }

.navbar-inner {
  background-color: black; }

img#jumbo-image {
  width: 100%;
  z-index: 100; }

#jumbotron .container {
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 30%; }

.brand {
  width: 40px; }

#navUl {
  margin-top: 5px; }
